/* Estilos para el encabezado y el botón de abrir el menú */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 20px;
  position: relative;

}
.body{
  width: 100%;
  overflow: hidden;
}
.header img {
  height: 50px;
}

#toggle {
  display: none;
}

.toggle-button {
  font-size: 24px;
  cursor: pointer;
  position: relative;
  color: #fff;
}

.navbar {
  position: absolute;
  top: 100%;
  opacity: 0;
  width: 0px;
  right: 6%;
  background-color: #222;
  padding: 20px;
  transition: all ease-in-out 0.5s;
  z-index: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Desplaza el menú fuera de la pantalla */
}

.navbar ul {
  list-style-type: none;
  padding: 0;
}

.navbar li {
  margin-bottom: 10px;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  transition: color 0.2s;
}

.navbar a:hover {
  color: #4CAF50;
}

#toggle:checked + .navbar {
  width: 250px;
  right: 0;
  opacity: 1;
   /* Trae el menú de nuevo a la pantalla */
}

/* Estilos para pantallas más pequeñas (móviles) */
@media screen and (max-width: 768px) {
  .header {
    padding: 10px;
  }

  .toggle-button {
    font-size: 20px;
  }

  .navbar {
    width: 100%;
  }

  .section-button {
    font-size: 16px;
  }

  .logout-button {
    font-size: 16px;
  }
}

/* Estilos para la lista de libros */
.book-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book {
  border: 1px solid #ddd;
  margin: 10px;
  padding: 10px;
  max-width: 300px;
  text-align: center;
}

.book img {
  max-width: 100%;
  height: auto;
}

.book h2 {
  font-size: 20px;
  margin: 10px 0;
}

@keyframes slideDown {
  from {
    transform: translateY(-500%);
    
  }
  to {
    transform: translateY(0);
  }
}

.search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  animation: slideDown 0.5s ease-in-out;
  transform: translateY(0);
}
.busc{
  background-color:grey;
}


