
.form-registro{
    width: min-content;
    margin: 50px auto;
    padding: 25px;
    border-radius: 46px;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow:  14px 14px 29px #5c5c5c,
                 -14px -14px 29px #ffffff;
    font-family: 'Raleway', sans-serif;
}